<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Asteroid Miner</title>
  
  <!-- Socket.io script -->
  <script src="/socket.io/socket.io.js"></script>
  
  <!-- React and Proptypes -->
  <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  
  <!-- Additional utilities -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  
  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="/assets/fontawesome-all.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
  
  <!-- Bootstrap, and custom styles -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap-superhero.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/mainStyle.css" />
  
  
  
</head>
<body>

  <!-- Navigation containers and links -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="/blade" class="navbar-brand">Asteroid Miner</a>
    <button id="hamburgerNav" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a id="minerButton" class="nav-link" href="#miner">Mine Asteroids</a>
        </li>
        <li class="nav-item">
          <a id="contractsButton" class="nav-link" href="#contracts">Contracts</a>
        </li>
        <li class="nav-item">
          <a id="highscoresButton" class="nav-link" href="#highscores">Highscores</a>
        </li>
        <li class="nav-item">
          <a id="payToWinButton" class="nav-link" href="#galaxy">
            <span class="fas  fa-dollar-sign text-success wiggle"></span>
             Galaxy Bucks 
            <span class="fas  fa-dollar-sign text-success wiggle"></span>
          </a>
        </li>
        
        <!-- Additional links go here -->

      </ul>
      <div class="navbar-right">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            
          </li>
          <li class="nav-item">
            <a id="profileButton" class="nav-link" href="#profile">Profile</a>
          </li>
          <li class="nav-item navbar-right">
            <a id="logoutButton" class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Notification container -->
  <div id="notificationMessage"></div>
  
  <!-- Modal Container -->
  <div id="adContainer"></div>
  
  <!-- Containers for React generated content -->
  <div id="appContainer" class="container-fluid moveDown">
    <div class="row row-centered">
      <div class="col-lg-2 col-centered">
        <div id="leftPanel"></div>
      </div>
      <div class="col-lg-8">
        <div id="main"></div>
      </div>
      <div class="col-lg-2 col-centered">
        <div id="rightPanel"></div>
      </div>
    </div>
  </div>
  
  <!-- Images needed for game -->
  <img id="galaxyBg" class="hidden" src="/assets/img/misc/galaxy-bg.jpg" alt="Galaxy Background" />
  
  <!-- Script used to store variables using Handlebars -->
  <script>
  </script>
  <script src="/assets/minerBundle.js"></script>
</body>
</html>