.moveDown {
  margin-top: 50px;
}

.pushDown {
  margin-bottom: 50px;
}

.hidden {
  display: none;
}

#viewport {
  display: block;
  margin: auto;
  margin-bottom: 50px;
  border: 2px solid black;
  cursor: none;
}

#myContracts {
  max-height: 300px;
  overflow: auto;
}

.fullButton {
  width: 100%;
}

.wiggle {
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-name: wiggle;
  animation-iteration-count: infinite;
}

.show {
  display: block;
}

.contractCard {
  width: 100%;
}

.inlineBlock {
  display: inline-block;
}

.moveRight {
  margin-left: 20px;
}

.noBottomMargin {
  margin-bottom: 0px;
}

.normalWhitespace {
  white-space: normal;
}

.imagePreview {
  width: 30%;
}

.vAlign {
  display: flex;
  align-items: center;
}

.pillContainer {
  float: right;
  align-items: center;
  vertical-align: middle;
}

.contractButtonContainer {
  margin-bottom: 0px;
}

.contractButtonContainer button {
  margin-bottom: 8px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-size {
  width: 100%;
  height: 100%;
}

.space-left {
  margin-left: 8px;
}

#highscoreList li {
  margin-bottom: 8px;
}

#marketForm label {
  margin-bottom: 0px;
}

#pageMask {
  background-color: black;
  opacity: 0.5 !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal-dialog {
  width: 70%;
  max-width: 70%;
  margin: auto;
}

#adModal, #subContractModal, #adViewport {
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.show {
  animation-name: slide-outwards;
}

.animateExpand {
  animation-name: expand-down;
}

.hide-anim {
  animation-name: slide-inwards;
}

@keyframes slide-outwards {
	0% { opacity: 0; transform: scale3d(0, 1, 1);}
	100% { opacity: 1; transform: scale3d(1, 1, 1);}
}

@keyframes slide-inwards {
	0% { opacity: 1; transform: scale3d(1, 1, 1);}
	100% { opacity: 0; transform: scale3d(0, 1, 1);}
}

@keyframes expand-down {
  0% { opacity: 0; transform: scale3d(1, 0, 1);}
	100% { opacity: 1; transform: scale3d(1, 1, 1);}
}

@keyframes wiggle {
  0% { filter: brightness(1.75); transform: rotate(-40deg);}
  50% { filter: brightness(1); transform: rotate(40deg);}
  100% { filter: brightness(1.75); transform: rotate(-40deg);}
}